.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 394px;
}
.imageBox {
    position: absolute;
    top: 0;
    left: 0;
}
.imageAfter {
    width: 50%;
    transition: 2s;
    overflow: hidden;
    border-right: 10px solid #f00;
}
.container:hover .imageAfter {
    width: 100%;
}